.list-group
  %a.list-group-item.active.main-color-bg
    %span.glyphicon.glyphicon-cog
    Dashboard
  %a.list-group-item{href: clients_path }
    %span.glyphicon.glyphicon-user
    Clients
  %a.list-group-item{href: new_client_path }
    %span.glyphicon.glyphicon-list-alt
    New Client
  %a.list-group-item{href: bank_accounts_path }
    %span.glyphicon.glyphicon-pencil
    Bank Accounts
  %a.list-group-item{href: new_bank_account_path }
    %span.glyphicon.glyphicon-list-alt
    New Bank Account
