.panel.panel-default
  .panel-heading.main-color-bg
    %h3.panel-title
      Website Overview
  .panel-body
    .col-md-6
      .well.dash-box
        %h2#number_of_accounts
          %span.glyphicon.glyphicon-pencil
          #{number_of_accounts}
        %h4
          Accounts
    .col-md-6
      .well.dash-box
        %h2#number_of_accounts
          %span.glyphicon.glyphicon-user
          #{number_of_clients}
        %h4
          Clients
